html(lang="RU-ru")
    head
        block title
            title Frontender Magazine | Панель управления

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(http-equiv="Last-Modified", content=(new Date()))

        block meta

        link(rel="author", href="/humans.txt")

        block preload

        block styles

        block scripts


    body
        section#page.page
