$font_size_1: 10px;
$font_size_2: 12px;
$font_size_3: 14px;
$font_size_4: 16px;
$font_size_5: 18px;
$font_size_6: 24px;
$step_0: 6px;
$step_1: 12px;
$step_2: 18px;
$step_3: 24px;
$step_4: 30px;
$step_5: 36px;
$step_6: 42px;
$step_7: 48px;
$step_8: 54px;
$step_9: 60px;
$step_10: 72px;
$step_11: 84px;
$step_12: 96px;
$step_13: 108px;
$step_14: 120px;
$step_15: 132px;
$font_size_text: $font_size_2;
$line_height_text: $step_2;
